@media screen and (max-width:1200px) {}

@media screen and (max-width:991px) {
    .home-page-cards-wrapper-g1 {
        width: 60%;
    }

    .home-page-cards-wrapper-g2 {
        width: 40%;
    }

    .headings-text {
        display: none;
    }

    h2.section-heading {
        font-size: 28px;
    }

    .gambling-logos {
        justify-content: center;
    }

    .glogo {
        height: 90px;
        width: 150px;
        margin: 15px 5px;
    }

    .copyright p {
        font-size: 13px;
    }

    .review-top-sections .review-cards-intro-p,
    .review-cards-text-cards p {
        font-size: 15px;
    }

    .sub-pages-group h3 {
        font-size: 26px;
    }

    .sub-pages-group p {
        font-size: 15px;
    }

    .sub-pages-group p a {
        font-size: 16px;
    }

    form.contact-form {
        max-width: 500px;
    }

    .formbold-form-input {
        font-size: 15px;
    }

    .formbold-btn {
        font-size: 15px;
        padding: 13px 26px;
    }

    .about-us-cards p {
        font-size: 15px;
    }

    /* Cookies CSS Start */
    .info p {
        font-size: 14px;
    }
    .button {
        width: calc(55% / 2 - 10px);
        font-size: 14px;
    }
    /* Cookies CSS End */

}




@media screen and (max-width:767px) {
    .main-navbar {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        padding: 50px;
        background-color: #000;
        transform: translateX(-100%);
        transition: all 0.3s linear;
        z-index: 100;
        color: #fff;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
    }

    .menuToggle .main-navbar {
        transform: translateX(0);
        justify-content: flex-start;
    }

    .main-navbar ul {
        flex-direction: column;
    }

    .menu-icon {
        display: block;
    }

    .close-icon {
        position: absolute;
        top: 20px;
        right: 20px;
        display: block;
        color: #fff;
        text-align: end;
        z-index: 55;
    }



    .casino-rating h3 {
        margin-left: 0;
    }

    #right-text {
        text-align: left;
    }

    .home-page-cards-wrapper-g1,
    .home-page-cards-wrapper-g2 {
        flex-direction: column;
    }

    .casino-name,
    .casino-welcome,
    .casino-rating,
    .casino-bonus {
        width: 100%;
        margin: auto;
        text-align: center;
        margin-bottom: 10px;
    }

    .specs span {
        font-size: 15px;
    }

    .specs {
        margin-bottom: 10px;
    }

    #right-text {
        text-align: center;
    }

    a.butn.bonus-butn {
        padding: 12px 25px;
    }

    .casino-name img {
        max-width: 200px;
    }

    h2.section-heading {
        font-size: 26px;
    }

    .accordion .top .text,
    .accordion .bottom .text p {
        font-size: 15px;
    }

    .disclaimer-wrapper p {
        font-size: 15px;
    }

    .footer-items h3 {
        font-size: 22px;
    }

    .footer .footer-items ul li a {
        font-size: 16px;
    }

    .glogo {
        height: 90px;
        width: 140px;
        margin: 8px 5px;
    }

    .review-top-sections img {
        max-width: 250px;
    }

    .review-top-sections h2 {
        font-size: 26px;
    }

    .review-cards-text-cards {
        width: 49%;
        padding: 10px;
    }

    .sub-pages-group h3 {
        font-size: 24px;
    }

    .formbold-btn {
        font-size: 14px;
        padding: 12px 26px;
    }

    /* Cookies CSS Start */
    .wrapper {
        padding: 20px 10px;
    }

    .info p {
        font-size: 13px;
    }

    .button {
        font-size: 13px;
        padding: 6px;
    }

    /* Cookies CSS End */

}

@media screen and (max-width:575px) {


    section.top-heading-section p {
        font-size: 14px;
    }

    .casino-welcome p {
        font-size: 15px;
    }

    a.butn.bonus-butn {
        padding: 11px 25px;
    }

    .casino-name img {
        max-width: 190px;
    }

    h2.section-heading {
        font-size: 24px;
    }

    .py-5 {
        padding: 35px 0;
    }

    .pb-5 {
        padding-bottom: 35px;
    }

    .pt-5 {
        padding-top: 35px;
    }

    .accordion .top .text,
    .accordion .bottom .text p {
        font-size: 14px;
    }

    .footer-items h3 {
        text-align: left;
        font-size: 24px;
    }

    .social-icons {
        justify-content: flex-start;
    }

    .disclaimer-wrapper {
        padding: 5px;
    }

    .logo-bottom {
        width: 100%;
        margin-bottom: 20px;
    }

    .footer-connect,
    .footer-links {
        width: 49%
    }

    .glogo {
        height: 70px;
        width: 120px;
        margin: 7px 5px;
    }

    .copyright p {
        font-size: 12px;
    }

    .review-top-sections img {
        max-width: 210px;
    }

    .review-top-sections h2 {
        font-size: 23px;
    }

    .review-top-sections .review-cards-intro-p,
    .review-cards-text-cards p {
        font-size: 14px;
    }

    .sub-pages-group h3 {
        font-size: 22px;
    }

    .sub-pages-group p {
        font-size: 14px;
    }

    .sub-pages-group p a {
        font-size: 15px;
    }

    form.contact-form {
        padding: 20px 0px;
    }

    .form-container {
        padding: 0;
    }

    .formbold-form-input {
        font-size: 14px;
    }

    .about-us-cards p {
        font-size: 14px;
    }

    .about-us-cards h3 {
        font-size: 20px;
    }

    .about-us-cards-wrapper {
        padding: 10px;
    }

    /* Cookies CSS Start */
    .info p {
        font-size: 13px;
    }

    .button {
        width: calc(70% / 2 - 10px);
        font-size: 13px;
    }

    /* Cookies CSS End */
}


@media screen and (max-width:480px) {
    .logo img {
        max-width: 170px;
    }

    .specs span {
        font-size: 12px;
    }

    .specs span {
        margin-right: 5px;
    }

    section.top-heading-section h1 {
        font-size: 22px;
    }

    section.top-heading-section h3 {
        font-size: 17px;
    }

    section.top-heading-section {
        text-align: center;
    }

    .top-heading-section-wrapper {
        padding: 10px 0;
    }

    p.right-text {
        font-size: 10px;
    }

    /* .home-page-cards-wrapper {
        flex-direction: column;
    } */

    a.butn.bonus-butn {
        padding: 9px 18px;
        font-size: 14px;
    }

    .casino-welcome p {
        font-size: 13px;
    }

    /* .home-page-cards-wrapper-g1,
    .home-page-cards-wrapper-g2 {
        flex-direction: column;
        width: 100%;
    } */
    .home-page-cards-wrapper-g1, .home-page-cards-wrapper-g2 {
        flex-direction: column;
        width: 50%;
    }

    h2.section-heading {
        font-size: 22px;
    }

    .guide-text-section p,
    .how-we-rate-wrapper p,
    .our-recommendations p,
    section.betting-bonus p,
    .home-tips p {
        font-size: 14px;
    }

    .accordion-wrap {
        margin-top: 2.75rem;
    }

    .accordion .top .text,
    .accordion .bottom .text p {
        font-size: 13px;
    }

    .disclaimer-wrapper p {
        font-size: 14px;
    }

    .footer-items {
        width: 100%;
        margin-bottom: 20px;
    }

    .footer-items:last-child {
        margin-bottom: 0px;
    }

    .lg-btm a img {
        max-width: 180px;
    }

    .footer-items h3 {
        font-size: 22px;
    }

    .review-top-sections img {
        max-width: 170px;
    }

    .review-top-sections h2 {
        font-size: 20px;
    }

    .review-cards-text-cards {
        width: 100%;
    }

    .sub-pages-group h3 {
        font-size: 20px;
    }

    .about-us-cards h3 {
        font-size: 19px;
    }

}

@media screen and (max-width:400px) {
    .specs span {
        font-size: 10px;
    }

    .specs {
        margin-bottom: 10px;
    }

    #right-text {
        text-align: center;
        font-size: 10px;
    }

    /* Cookies CSS Start */
    .info p {
        font-size: 12px;
    }

    .buttons {
        gap: 10px;
    }

    .button {
        width: calc(100% / 2 - 10px);
        font-size: 13px;
    }

    /* Cookies CSS End */

}